# This is a basic workflow to help you get started with Actions

name: build-ci

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]


jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@master
    - name: update
      run: sudo apt-get update
    - name: install
      run: sudo apt-get install -y libboost-all-dev git 
    - name: submodule
      run: git submodule update --init --recursive
    - name: cmake
      run: cmake -H. -BRelease
    - name: build
      run: cmake --build Release

    
